.barra{
    background-color: #cbbaf5;

    display: flex;
    justify-content: space-between;
}

.textos{
    display: flex;
    gap: 1.5rem;

}

.typo{
    cursor: pointer;
    color: rgb(15, 15, 15);
    cursor: pointer;
}

.text-decorator-none{
    text-decoration: none;
}