.box1{
    background-color: #cbbaf5; 
    height: 80px
}

.box2{
    background-color: #5f28e9;
     height: 55px
}

.redes{
    font-size: 40px;
    color: rgb(14, 13, 13);
    padding-right: 0.5rem
}

.textos{
    color: rgb(10, 10, 10);
    text-align: center;
}